:root{
     --color-primary: #343946;
     --color-white: #f2f5f7;
     --color-accent-primary: #18173f;
     --color-accent-secondary: #274393;

     --color-bg-principal: #c9e8f2 ;
     --color-bg-secondary:#f8e4d8;

     --color-additional: #789487;
}
body{
     font-family: "Josefin Sans", sans-serif;
     background-image: linear-gradient(to bottom, #c9e8f2, #bce1ee, #afdbea, #a2d4e6, #95cde2);
     /* background-color:#c9e8f2 ; */
}
/**wrapper**/
#wrapper{
     margin: 0 auto;
     max-width: 1300px;
     color: var(--color-primary);
     
     background-image: linear-gradient(to bottom, #c9e8f2, #bce1ee, #afdbea, #a2d4e6, #95cde2);

}

#header{
     margin-bottom: calc( 2rem + .5vh); /*todo recalculate it!!*/
     padding: 1rem;
}
#main{
     position: relative;
     padding: 1rem;

}
/****HERO***/
.hero{
     flex-direction: column;
}

/***PRODUCT HERO ***/
.product_hero{

     flex-direction: column;

     margin-bottom: calc( 2rem + .5vh); /*todo recalculate it!!*/
}
.product_hero .span_product{
     font-size: 1.1rem;
     position: relative;
}
.span_product::before{
     content: '';

     position: absolute;
     top: 35%;
     left: -92%;

     width: 60%;
     height: 3px;

     background-color: var(--color-accent-primary);
}

.product_hero #title{
     font-size: calc(3rem + 1vw);
     margin: 1rem 0;
}

.product_hero p{
     text-align: justify;
     margin-bottom: 1rem;
}

.product_hero a{
     align-self: flex-start;
     padding:1em 1em;
     border-radius: 10px;

     background-color: var(--color-bg-secondary) ;

     transition: all 1s ease;
}
.product_hero a:hover,
.product_hero a:focus{
     color: var(--color-white);
     background-color: var(--color-accent-primary);
}

.product_hero i{
     transform: rotate(-35deg);
}




/**HERO IMAGE CONTAINER*/

.hero_image_shape{
     filter: drop-shadow(10px 25px 5px #789487c0);
     position: relative;

}
.hero_image_shape::before{
     content: '';
     position: fixed;
     width: 100%;
     height: 100%;

     background-color: #7894872c;
     right: -5px;
     border: 1px solid #789487c0;

     clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);


}

.hero_image{
     width: 60vw;
     
     clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
     
     transform: rotate(-25deg);

     box-shadow: 10px 15px 25px 50px #ccc;
          -moz-box-shadow: 10px 10px 5px #ccc;
          -webkit-box-shadow: 10px 10px 5px #ccc;
          -khtml-box-shadow: 10px 10px 5px #ccc;
}

.hero_image_container{
     margin-bottom: calc(2rem - 1vw); /*todo recalculate it!!*/
}

/**HERO IMAGE CONTAINER ends*/


/***FORM****/
#form{
     margin: 0 auto;
     width: 100%;
     max-width: 350px;
     height: 100px;
     
     margin-bottom: calc(2rem - 1vw); /*todo recalculate it!!*/

}

.mail_regis{
     display: relative;
}

#email,
.fake_button{
     height: 60px;
     background-color: white;
     border-radius: 10px;
     padding: .5em .5em;
}
#email{
     min-width: 180px;
}
input[type="submit"]{
     height: 50px;
     border-radius: 10px;
     padding: .5em .8em;
     padding-right: 2rem;

     background-color: var(--color-accent-primary);
     color: var(--color-white);
}

.fake_button{
     position: relative;
}

.fake_button i{
     position: absolute;
     right: 20px;
     color:var(--color-white);
}

/***FORM ENDS****/



/*? MEDIA QUERY FOR BIGGER DEVICES****/
@media screen and (min-width: 850px) {
     #main .hero{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 50px;


          margin-bottom: calc(2rem - 1vw);  /*todo to recalculate!**/

     }
     .product_hero{
          margin-top: -5rem;
     }
     .product_hero .span_product{
          margin-bottom: 2rem;
     }
     form#form{

          position: relative;
          max-width: 450px;
          margin: -10rem 0 2rem;
          justify-content: flex-start;
     }
     #form #email{
          width: 400px;
          max-width: 400px;
     }
}


/***OTHER SECTION USELESS***/
#main_down{
     background-color: var(--color-bg-secondary);
     width: 100%;
     margin: 0 -1rem -1rem 0;
     margin-top: calc(2rem + 10vw);
     padding: 1rem;
}

/**SECTION SERVICES*/
.other_section{
     margin-bottom: 2rem;
}
.other_section h2{  
     font-size: calc(1.5rem + 1vw);     /*! to recalculate*/
     margin-bottom: calc(.5rem + .5vw);  /*! to recalculate*/
}
#services{
     /*blablabla*/
}

#services .card_container{
     flex-direction: column;
}
#services .card{
     flex-direction: column;
     justify-content: space-between;
     margin-bottom: 1rem;
     height: 300px;
     width: calc(80% - 20vw);
     min-width: 300px;

     background-color: rgba(202, 202, 202, 0.864);
}
#services .card_title{
     background-color: white;
     font-size: 1.5rem;
     height: 70px;
     width: 100%;
     padding: .5rem;
}
#services .card_body{
     width: 100%;
     padding: .5rem;
     text-align: justify;
}
#services .price{
     margin: 1rem 0;
     font-size: 4rem;
}
.price span{
     cursor: pointer;
}
.price span:hover,
.price span:focus{
     color: seashell;
}

/*? MEDIA QUERY FOR BIGGER DEVICES****/
@media screen and (min-width: 850px) {
     #services .card_container{
          flex-direction: row;
          justify-content: space-between;

     }
     #services .card{
          flex-basis: 30.333%;
          flex-grow: 0;
          min-width: 250px;

     }
}

/***PRODUCT****/
.video_container{
     position: relative;
     overflow: hidden;
     width: 100%;
     padding-top: 56.25%; 

     margin-bottom: 1rem;
}
#video{
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     /* bottom: 0; */
     width: 100%;
     height: 100%;
     
}
.remove{
     margin-bottom: 1rem;
}
#blogandadvices .remove:last-of-type{
     margin-bottom: 2rem;
}



/****USELESS FOOTER*****/
footer{
     background-color: rgba(202, 202, 202, 0.864);
     height: 100px;
     padding: 1rem;
}
.fake{
     font-size: 1.2rem;
     color: red;
     margin-right: 1rem;
}

.upbutton{
     color: var(--color-accent-primary);
     opacity: .5;

     position: fixed;
     right: 5%;
     bottom: 5%;
}